---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/img/matrix.jpg
  caption:
excerpt: 'SI SE PUEDE IMAGINAR , SE PUEDE IMPLEMENTAR.<br /> <small>En busca del valor añadido</small><br /><br />'
feature_row:
  - title: "Super Customizable"
    image_path: /assets/img/sap_connector.png
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
    i_parent: "circle fadeInDown animated"
    i_class: "fa fa-cogs fa-2x circle"
  - i_class: "fa fa-lightbulb fa-2x circle"
    i_parent: "circle fadeInDown animated"
    title: "Responsive Layouts"
    excerpt: "Built on HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - title: "100% Free"
    i_class: "fa fa-microchip fa-2x circle"
    i_parent: "circle fadeInDown animated"
    excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it, whatever!"
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
posts:
- title: "Super Customizable"
  image_path: /assets/img/sap_connector.png
  excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
  url: "/docs/configuration/"
  btn_class: "btn--small btn--primary btn--info"
- image_path: /assets/img/sim900.png
  title: "Responsive Layouts"
  excerpt: "Built on HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
  url: "/docs/layouts/"
  btn_class: "btn--small btn--primary btn--info"
- title: "100% Free"
  image_path: /assets/img/eclipse_avr.png
  excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it, whatever!"
  url: "/docs/license/"
  btn_class: "btn--small btn--primary btn--info" 
github:
  - excerpt: '{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
intro:
  - excerpt: '<i class="fa fa-sticky-note"></i> Post más destacados [<i class="fab fa-twitter"></i> @mmistakes](https://twitter.com/mmistakes){: .btn .btn--twitter} [<i class="fab fa-paypal"></i> Tip Me](https://www.paypal.me/mmistakes){: .btn .btn--primary}'
---

{% include feature_row id="posts" %}

{% include author-profile-bottom.html %}


